.swiper-container{
    background-color: rgb(225, 225, 225);
    padding: 50px 0;
}
.swiper-slide{
    width: 400px;
    padding: 25px;
    background:#eee;
    height: 300px;
    font-size: 70%;
    line-height: 1.1;
}
.swiper-slide> h1,
.swiper-slide> h2,
.swiper-slide> h3,
.swiper-slide> h4,
.swiper-slide> h5,
.swiper-slide> h6 {
    margin-top: 0rem;
    margin-bottom: 0.8rem;
}
.swiper-slide> h1{
    font-size: 1.4rem;
}
.swiper-slide> h2{
    font-size: 1.1rem;
}
.swiper-slide> h3{
    font-size: 1rem;
}

.swiper-slide> h4{
    font-size: 0.9rem;
}

.swiper-slide> li{
    line-height: 1.1;
    font-size: 70%;
}
.swiper-slide> ul{
    margin-bottom: 0.7rem;
}
.swiper-slide> p,
.swiper-slide> li{
    margin-bottom: 0.7rem;
}
.swiper-slide> pre,
.swiper-slide> code{
    line-height: 1.1;
    font-size: 90%;
    margin-bottom: 0.8rem;
}